.profile-sidebar-profile-photos-container {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    width: 315px;
    padding: 3px;
    margin-top: 10px;
}

.profile-sidebar-profile-photos-header {
    display: flex;
    align-items: center;
    margin: 6px;
}

.profile-sidebar-profile-photos-icon-container {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    background-color: #a5d950;
    border-radius: 50%;
    margin-right: 9px;
}

.profile-sidebar-profile-photos-icon {
    color: white;
    margin-left: 4px;
    margin-top: 4px;
}

.profile-sidebar-profile-photos {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.profile-sidebar-profile-photos > li {
  padding: 0 2px 2px 2px;
  text-align: center;
  width: 100px;
  justify-content: center;
  color: #385da0;
}

.profile-sidebar-profile-photos > li > div > img {
  height: 100%;
  width: 100%;
}

.photo-container {
  height: 100px;
  width: 100px;
}