.main {
    display: flex;
    background-color: #edf0f5;
    justify-content: center;
    min-width: 1035px;
    padding: 20px 0;
}

.signup-container {
    display: flex;
    justify-content: center;
}

.signup-items {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 600px;
    padding: 0 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup-form > h1 {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

h2.signup-header {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #90949c;
    margin-bottom: 5px;
    margin-top: 10px;
}

.signup-form > p {
    color: #333;
    margin-bottom: 20px;
    font-size: 18px;
}

.signup-form > input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px 10px;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    background-color: white;
    height: 21px;
    width: 377px;
    color: black;
    font-size: 18px;
}

.signup-form > input::placeholder, .signup-names > input::placeholder, #custom-gender-input::placeholder {
    color: rgb(151, 153, 156);
}

.signup-names {
    width: 400px;
}

.signup-names > input:first-of-type {
    margin-right: 10px;
}

.signup-names > input {
    margin-bottom: 5px;
    padding: 8px 10px;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    background-color: white;
    height: 21px;
    width: 172px;
    color: black;
    font-size: 18px;
}

.gender-select-container {
}

.gender-select {
    margin-left: 5px;
    display: flex;
    align-items: center;
    height: 30px;
    width: 270px;
}

.gender-select > input {
    margin-bottom: 2px;
    margin-left: 5px;
}

.gender-select > label {
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 18px;
}

.custom-gender-input-container {
    width: 400px;
    margin-top: 20px;
}

.custom-gender-input-container > select {
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: 100%;
    color: black;
    font-size: 12px;
}

#custom-gender-input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px 10px;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    background-color: white;
    height: 21px;
    width: 377px;
    color: black;
    font-size: 18px;
}

p.signup-terms {
    margin: 10px 0;
    font-size: 11px;
    color: #777;
    height: 42px;
    width: 316px;
    line-height: 15px;
}

span.pronoun-warning {
    color: #606770;
    font-size: 12px;
}

.signup-and-demo-login {
    display: flex;
    height: 44px;
}

#signup-button, #demo-login-button {
    text-align: center;
    padding: 0;
    font-size: 19px;
    font-weight: bold;
    height: 37px;
    width: 192px;
    color: white;
    border: 1px solid;
    border-radius: 3px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

#signup-button {
    background: linear-gradient(#67ae55, #578843);
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}

#demo-login-button {
    margin-left: 15px;
    background: linear-gradient(#ce65ce, #ac55a7);
    box-shadow: inset 0 1px 1px #d188e3;
    border-color: #50226e #3f226e #2f1551;
}

#signup-button:hover {
    background: linear-gradient(#79bc64, #578843);
}

#demo-login-button:hover {
    background: linear-gradient(#c771d8, #a55290);
}

#signup-button:active, #demo-login-button:active {
    margin-top: 1px;
}

.birthday-select-container > select {
    border: 1px solid #ccd0d5;
    font-size: 13px;
    height: 30px;
    padding: 5px;
}

.signup-aside {
    display: flex;
    min-width: 565px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12px;
}

.signup-aside > h2 {
    padding: 42px 0 24px;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    color: #333;
}

.signup-aside > span {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #666;
    margin: 10px 0;
}

.signup-aside > span > img {
    height: 56px;
    width: 56px;
}

.signup-aside > span > strong {
    color: #333;
    font-size: 17px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 12px;
    margin-right: 5px;
}

.red-border {
    border-color: red !important;
}

.signup-error-icon {
    color: rgb(199, 63, 63);
    position: absolute;
    font-weight: 900;
    font-size: 26px;
    z-index: 5;
}

#signup-error-icon-first_name, #signup-error-icon-last_name {
    margin-top: 6px;
    margin-left: 160px;
}

#signup-error-icon-email {
    margin-top: 143px;
    margin-left: 364px;
}

#signup-error-icon-password {
    margin-top: 192px;
    margin-left: 364px;
}