.profile-nav-friend-requests-icon-container {
    padding: 0 10px;
    border-left: 1px solid #29487d;
    margin-top: 4px;
}

.profile-nav-friend-requests-icon {
    color: rgb(19, 39, 78);
    font-size: 20px;
}

.profile-nav-friend-requests-icon-active {
    color: white !important;
}

.profile-nav-friend-requests-icon:hover {
    color: #0d1424;
    cursor: pointer;
}

.profile-nav-friend-requests-list-container {
    position: absolute;
    width: 430px;
    background-color: white;
    border: 1px solid #dddfe2;
    margin-left: -340px;
    margin-top: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    color: #1d2129;
    z-index: 11;
}

.profile-nav-friend-requests-list-header {
    padding: 5px 10px;
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
}

.profile-nav-friend-requests-list-header > span {
    font-size: 12px;
    font-weight: 600;
}

.profile-nav-friend-requests-list-empty {
    padding: 10px;
}